.header {
    display: block;
    padding: 1em;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align: center;
}

.game-view {
    width: 1000px;
    margin: 0 auto;    
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

.player-hidden {    
    flex: 1 0 10%;
    background-color: rgb(255, 255, 255);
    opacity: 0;
}

.player-shown {    
    flex: 1 0 10%;
    background-color: rgb(255, 255, 255);
    opacity: 100;
    transition: opacity 0.7s ease-out;
}

.new-game-form-shown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    opacity: 100;
}

.new-game-form-hidden {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    opacity: 0;
    transition: opacity 0.1s;
}

.player-fields {
    display: flex;
    flex-direction: row;    
}

.player1-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.player2-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.inactive {
    opacity: 50%;
}   

.player1 {
    text-align: right;
}

.splash {
    display: flex
}

.board {
    display: flex;
    flex-flow: row wrap;    
    height: 500px;
    justify-content: space-around;
    flex-basis: auto;
    flex: 1 1 30em;
}

.grid {
    display: flex;
    flex-flow: row wrap;    
    height: 500px;
    justify-content: space-around;
    flex-basis: auto;
    flex: 1 1 30em;
}

.cell-shown {
    cursor: pointer;
    background: #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 30%;
    opacity: 100;
    transition: opacity 0.8s ease-out;
}

.cell-hover-green {
    cursor: pointer;
    background: #c2ebb5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 30%;
    opacity: 100;
    transition: opacity 0.8s ease-out;
}

.cell-hover-pink {
    cursor: pointer;
    background: #e7bde7;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 30%;
    opacity: 100;
    transition: opacity 0.8s ease-out;
}

.cell-hidden {       
    opacity: 0;
    transition: opacity 0.8s ease-out;
}

.piece-toggle {
    text-align: right;
    margin: .0em 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

button {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    margin: 0em;
}

button.X {
    font-weight: bold;
    border-radius: 5px;
    color: #ec79ec;
}

button.O {
    font-weight: bold;
    border-radius: 5px;
    color: #96ec79;
}

h2 {
    margin: 1px 2px 3px 1px;
}