.header {
    display: block;
    padding: 1em;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align: center;
}

.game-view {
    width: 1000px;
    margin: 0 auto;    
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

.player {    
    flex: 1 0 10%;
    background-color: rgb(255, 255, 255);
}

.player1-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.player2-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.player1 {
    text-align: right;
}

.board {
    display: flex;
    flex-flow: row wrap;    
    height: 500px;
    justify-content: space-around;
    flex-basis: auto;
    flex: 1 1 30em;
}

.cell {
    cursor: pointer;
    background: #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 30%;
}

#piece-toggle {
    text-align: right;
    margin: .0em 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#piece-toggle button {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: 1px solid #eee;
    cursor: pointer;
    margin: 0em;
}

#piece-toggle button.X {
    border-radius: 0 5px 5px 0;
    color: #ec79ec;
}

#piece-toggle button.O {
    border-right: none;
    border-radius: 5px 0 0 5px;
    color: #96ec79;
}

.O-selected {
    cursor: auto;
    color: #fff;
}

.X-selected {
    cursor: auto;
    color: #fff;
}

h2 {
    margin: 1px 2px 3px 1px;
}